.enhance-modal-wrapper {
  width: 700px;
  min-height: 400px;
  background-color: #ffffff;
  :global {
    .modal-content {
      display: flex;
      flex-direction: column;
      .header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-bottom: solid 2px #f3f3f3;
        .title {
          color: #333;
          font-size: 14px;
          font-weight: 600;
        }
        .delete {
          width: 30px;
          height: 30px;
          flex-shrink: 0;
          .img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .content {
        min-height: 300px;
        overflow: auto;
        margin: 16px;
      }
      .footer {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-top: solid 2px #f3f3f3;
      }
    }
    .btn {
      width: 80px;
      height: 32px;

      border-radius: 5px;
    }
    .btn-ok {
      color: #ffffff;
      background-color: #1890ff;
      border: solid 1px #1890ff;
    }
    .mr_10 {
      margin-right: 10px;
    }
  }
}